<ngb-alert
    [animation]="true"
    [dismissible]="true"
    [type]="'danger'"
    (closed)="errorMessage = ''"
    *ngIf="errorMessage"
    >
    <div class="alert-body">
        <h4 class="alert-heading">Error</h4>
        <p>Oh neien was hast du denn nur getahn</p>
    </div>
    <p>
        {{ errorMessage }}
    </p>
</ngb-alert>

<ngb-alert
    [animation]="true"
    [dismissible]="true"
    [type]="'success'"
    (closed)="successMessage = ''"
    *ngIf="successMessage"
    >
    <div class="alert-body">
        <h4 class="alert-heading">Success</h4>
    </div>
    <p>
        {{ successMessage }}
    </p>
</ngb-alert>
